.pokemon-filters
    margin-bottom 20px
    display flex
    justify-content space-between

    .ant-input-search
        margin-right 20px
        width 250px

    .ant-select
        width 100%
        max-width 600px