.main-layout
    min-height 100vh
    padding-bottom 20px

    @media (max-width 1150px)
        padding-bottom 80px

    &__main
        padding 20px 40px 0

        @media (max-width: 1200px)
            padding 20px 20px 0

    &__header
        padding 20px
        display flex
        align-items center
        justify-content space-between
        background rgb(56, 56, 56)