.pokemon-list
    &__name
        font-weight bold
        text-transform capitalize

        .anticon-star
            font-size: 18px;
            line-height: 10px;
            cursor: pointer;

    &__pic
        width: 96px;
        height: 96px;
        border: rgba(0, 0, 0, 0.2) 2px solid;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.2);

    &__pagination
        &.ant-pagination
            display: flex;
            justify-content: flex-end;
            padding: 20px;